@model IEnumerable<EjercicioCodeFirstCursos.Models.Curso>

@{
ViewData["Title"] = "Cursos destacados";
}

<h2>Cursos destacados</h2>

<ul class="listaDestacados">
	@foreach (var item in Model)
	{
		<li><a href="@Url.Action("Details","Cursos",new { id = @item.CodCurso})">@item.Descripcion</a></li>
	}
</ul>

